In [1]:
# Import PySpark
import findspark
findspark.init()
import pyspark # only run after findspark.init()

# Start a Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

# Read a JSON file

In [3]:
data_filename = 'data/people.json'

# Import a JSON file
df = spark.read.json(data_filename)
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

##### Print the schema

In [4]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

##### Print the columns

In [5]:
df.columns

['age', 'name']

### To show a column:

In [6]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

# To filter

In [14]:
df.filter(df['age']>20).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

# Use describe() on a DataFrame

In [11]:
df.select('age').describe().show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|                 2|
|   mean|              24.5|
| stddev|7.7781745930520225|
|    min|                19|
|    max|                30|
+-------+------------------+

### Type of a column:

In [7]:
type(df['age'])

pyspark.sql.column.Column

# Schemas

In [21]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [22]:
# Define new schema
data_schema = [StructField('age', IntegerType(), True), 
               StructField('name', StringType(), True)]
final_struc = StructType(fields=data_schema)

# Use the new schema on the dataset
df = spark.read.json('data/people.json', schema=final_struc)
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Column

In [24]:
type(df['age'])

pyspark.sql.column.Column

In [26]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [36]:
df.withColumn('new_age', df['age']*2).show()

+----+-------+-------+
| age|   name|new_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     60|
|  19| Justin|     38|
+----+-------+-------+

In [37]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

# SQL

In [44]:
data_filename = 'data/people.json'

# Import a JSON file
df = spark.read.json(data_filename)
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [45]:
df.createOrReplaceTempView('people')

In [46]:
results = spark.sql("SELECT * FROM people")
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [48]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+